{% extends "base.html" %}
 {% block content %}
 	<div>
 		<h3>
 			My locations
 		</h3>
 		<a id="hrefAddLocations" href="#">Add new location</a> 		
 	</div>
	<table>
		<thead>	
			<tr>
				<th>
					Name
				</th>
				<th>
					Address
				</th>
				<th>
					Openings
				</th>
			</tr>
		</thead>
		<tbody>
			{% for location in locations %}
				<tr>
					<td>
						location.name
					</td>
					<td>
						location.address_one
					</td>
					<td>
						location.openings
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

<div class="modal fade" id="locationModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content" id="div-modal-content">
	</div>
  </div>
</div>

 {% endblock %}

{% block script %}
	<script src="/static/js/location.js"></script>
{% endblock %} 